.form-control{
    margin: 5px;
}

.login-form{
    width: 35%;
    margin:12px auto;
}

.login-fields{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mall{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.cross-icon{
    color:"red";
    position:"absolute";
    top:5%;
    left:90%;
}

.mall-content{
    position: absolute;
    color: #421d1d;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.inputfile{
    width:0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label{
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .delete-icon{
    color: red;
    position: absolute;
    top: 1%;
    left: 90%;
    cursor: pointer;
    z-index: 999;
  }

  .nav-main{
      border-bottom: 1px solid grey;
      width:100%;
  }

  .nav-inside{
      width:90%;
      margin:auto;
      display:flex;
      justify-content: space-between;
      align-items: center;
  }

  .item{
      padding:14px;
      margin:14px;
  }